/*@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");*/

body{
    /*background: url('/static/img/bg.png');*/
    background-color: #444;
    background-size:   100%;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

.vertical-offset-100{
    padding-top:100px;
}
.login .user-row{
    text-align: center;
    font-size: 30px;
}

.login .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.login.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.login label{
    display: block;
    width: 100%;
    color: #449d44;
    text-shadow:#4cae4c;
    text-align: center;
}
.login hr{
    margin: 5px;
}

#hidden_form {
    display: none;
}

.description {
    text-align: center;
    padding: 10px 5px;
}

#login {

}

#advertisment {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#timer{
    text-align: center;
    color: white;
}