{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Pucon Wi-Fi Login</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container" id="login">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default login">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="{% static 'img/logo.png' %}">
                    </div>
                    <h3 class="panel-title user-row"> Pucon Wi-Fi</h3>
                    <p class="description">{% lorem %}</p>
                </div>
                <div class="panel-body">
                    <a class="btn btn-lg btn-primary btn-block" id="facebook_login" href="{% url 'social:begin' 'facebook' %}?next=/connect_user_via_facebook?params={{ mac }},{{ uamip }},{{ uamport }}">
                        <span class="fa fa-"></span>Login via Facebook
                    </a>
                    <input class="btn btn-lg btn-success btn-block" type="button" id="show_form" value="Login via E-mail">


                    <div id="hidden_form">
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="First Name" id="first_name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Last Name" id="last_name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="E-mail" id="email" type="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Phone" id="phone" type="text">
                        </div>
                        <input type="hidden" value="{{ mac }}" id="mac">
                        <input type="hidden" value="{{ uamip }}" id="uamip">
                        <input type="hidden" value="{{ uamport }}" id="uamport">
                        <input class="btn btn-lg btn-success btn-block" type="button" value="Login" id="login_via_email">
                        <input class="btn btn-lg btn-default btn-block" type="button" id="cancel_form" value="Cancel">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="advertisment" style="background: url('/static/ads/{{ image }}');">
    <h1 id="timer"></h1>
</div>
<script src="{% static 'js/jquery-2.2.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/noty/jquery.noty.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/layouts/top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/layouts/topRight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/themes/default.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
