{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Pucon Wi-Fi Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container" id="login">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default login">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="{% static 'img/logo.png' %}">
                    </div>
                    <h3 class="panel-title user-row"> Pucon Wi-Fi</h3>
{#                    <p class="description">{% lorem %}</p>#}
                </div>
                <div class="panel-body">
                    <p>You have successfuly logged in. Now you can navigate.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
